<h1>New Article</h1>

<% if @article.errors.any? %>
  <h4 style="color: darkred">Some errors were encountered:</h4>
  <ul>
    <% @article.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with scope: :article, url: articles_path, local: true do |f| %>
  <div>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %> <br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<br>
<%= button_to 'Back', articles_path, method: :get %>
