<%= render 'shared/errors', obj: @user %>
<%= form_with model: @user, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :username, class: "form-label" %>
    <%= f.text_field :username, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="">
    <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-success btn") %>
    <%= link_to 'Back', articles_path, class: "btn btn btn-light mx-3"%>
  </div>
<% end %>