<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-3">
      <%= image_tag asset_path("profile_pic.jpg", type: :images), alt: "Profile pic", class: "img-fluid rounded-start", :style => "height: 200px" %>
    </div>
    <div class="col-md-9">
      <div class="card-body h-100">
        <h2 class="card-title"><%= user.username %></h2>
        <h6 class="card-subtitle mb-2 text-muted"><%= user.email %> - Joined <%= time_ago_in_words(user.created_at) %>
          ago</h6>
        <p class="card-text">Wrote <strong><%= pluralize(user.articles.count, 'article') %></strong></p>
        <div class="mt-5">
          <% if !@users && (logged_in? && current_user == user || current_user.admin?) %>
            <%= link_to 'Edit profile', edit_user_path(user), class: "btn btn-outline-info card-link" %>
            <%= link_to 'Delete account', user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger card-link" %>
          <% end %>
          <% if @users %>
            <%= link_to 'Visit profile', user_path(user), class: "btn btn-outline-success card-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>