<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <% if name == 'notice' %>
        <p style="color: darkgreen"><%= msg %></p>
      <% else %>
        <p><%= msg %></p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
